<script type="text/javascript">

function wlFuncRemove(id) {
	$("#" + id).remove();
}

function wlFuncHasTags() {
	var id = uuid();
	jQuery("<div />").attr("id", id).addClass("wlMutOne").html("have tags: ").appendTo(jQuery(".wlMutSelectList"));
	jQuery("<input />").attr("name", "hasTags" + id).attr("type", "text").addClass("{required:true,minlength:1}").appendTo(jQuery("#" + id));
	jQuery("<a />").attr("onclick", "wlMutRemove('" + id + "');").html("&otimes;").addClass("wrSmallLink").appendTo(jQuery("#" + id));
}

function wlMutHasNoTags() {
	var id = uuid();
	jQuery("<div />").attr("id", id).addClass("wlMutOne").html("do not have tags: ").appendTo(jQuery(".wlMutSelectList"));
	jQuery("<input />").attr("name", "hasNoTags" + id).attr("type", "text").addClass("{required:true,minlength:1}").appendTo(jQuery("#" + id));
	jQuery("<a />").attr("onclick", "wlMutRemove('" + id + "');").html("&otimes;").addClass("wrSmallLink").appendTo(jQuery("#" + id));
}

function wlMutAddTags() {
	var id = uuid();
	jQuery("<div />").attr("id", id).addClass("wlMutOne").html("add tags: ").appendTo(jQuery(".wlMutUpdateList"));
	jQuery("<input />").attr("name", "addTags" + id).attr("type", "text").addClass("{required:true,minlength:1}").appendTo(jQuery("#" + id));
	jQuery("<a />").attr("onclick", "wlMutRemove('" + id + "');").html("&otimes;").addClass("wrSmallLink").appendTo(jQuery("#" + id));
}

function wlMutRemoveTags() {
	var id = uuid();
	jQuery("<div />").attr("id", id).addClass("wlMutOne").html("remove tags: ").appendTo(jQuery(".wlMutUpdateList"));
	jQuery("<input />").attr("name", "removeTags" + id).attr("type", "text").addClass("{required:true,minlength:1}").appendTo(jQuery("#" + id));
	jQuery("<a />").attr("onclick", "wlMutRemove('" + id + "');").html("&otimes;").addClass("wrSmallLink").appendTo(jQuery("#" + id));
}

$(document).ready(function(){
	$('#wlFuncSave[type=submit]').confirm({
		msg:'Do you really want to save the function?',
		timeout:3000
	});
})

</script>

<div class="row show-grid">
    <div class="span6" id="wlLeft">
		<form id="wlFuncForm" class="wlForm" action="/rest/function/">
			<div id="wrapper-header" class="wlFuncSelect">
				<h6>Function visible for items which...</h6>
				<p>
					<a onclick="wlFuncHasTags();" class="wrSmallLink">Have tags</a>
					<a onclick="wlFuncHasNoTags();" class="wrSmallLink">Do not have tags</a>
				</p>
				<div class="wlFuncSelectList">
				</div>
			</div>
			<div id="wrapper-header" class="wlFuncUpdate">
				<h6>Do following operations...</h6>
				<p>
					<a onclick="wlFuncAddTags();" class="wrSmallLink">Add tags</a>
					<a onclick="wlFuncRemoveTags();" class="wrSmallLink">Remove tags</a>
				</p>
				<div class="wlFuncUpdateList">
				</div>
			</div>
			
			<input type="submit" id="wlFuncSave" value="Save function" class="btn btn-primary"/>
		</form>
    </div>
    
    <div class="span6" id="wlRight">
    	<div class="wrPanel">
    		<div class="wrPanelHeader">
    			<h2>List of functions</h2>
    		</div>
    		
    		<div id="wlFuncList">
    		</div>
    	</div>
    </div>

<!-- <h2 class="panelTitle">Defining new function for items</h2> -->
</div>