<script type="text/javascript">

function wlFolderCreate() {
	var name = $("#wlNewFolder").val();
	$.ajax({
		type : "POST",
		url : "/rest/folders/create",
		data : "folderName=" + encodeURIComponent(name) + "&path=" + encodeURIComponent($("#wlCurrentPath").html()),
		dataType : "json",
		success : function(response) {
			if (response.result == "OK") {
				var path = $("#wlCurrentPath").html();
				wlFolderAppend(path, name);
				$("#wlNewFolder").val('');
				wlFoldersSort();
			} else
				wlError(msg["Error"], response.msg);
		}
	});
}

function wlReloadCurrentPath(newPath) {
	$("#wlPathParts").empty();
	var parts = decodeURIComponent(newPath).split('/');
	var cdPath = "/";
	for (var i = 1; i <= parts.length; i++) {
		if (parts[i] === undefined || parts[i].length == 0)
			continue;
		cdPath += parts[i] + "/";
		jQuery("<a />").attr("onclick", "wlFilesCd('" + cdPath + "')").html(parts[i]).addClass("wrSmallLink").appendTo($('#wlPathParts'));
		$('#wlPathParts').append(" / ");
	}
	$("#wlCurrentPath").html(newPath);
}

function wlFoldersSort() {
	var mylist = $("#wlFoldersPanel");
	
	// a simple compare function, used by the sort below
	var compare_rows = function (a,b){
		var a_val = $(a).text().toLowerCase();
		var b_val = $(b).text().toLowerCase();
		if (a_val>b_val){
		  return 1;
		}
		if (a_val<b_val){
		  return -1;
		}
		return 0;
	};
 
    // the actual sort
    var newOrder = $('#wlFoldersPanel .wlFilesFilename a').sort(compare_rows);
	var path = $("#wlCurrentPath").html();
	for (var i = 0; i < newOrder.length; i++) {
		var folder = $(newOrder[i]).html();
    	$("#wlFoldersPanel tr:eq(" + i + ") td:eq(1)").html("<a onclick='wlFilesCd(\"" + path + "/" + folder + "\")'>" + folder + "</a>");
    }
}

function wlFolderRemove(path, link) {
	$.ajax({
		type : "POST",
		url : "/rest/folders/remove",
		data : "path=" + encodeURIComponent(path),
		dataType : "json",
		success : function(response) {
			if (response.result == "OK") {
				$(link).parent().parent().remove();
			} else
				wlError(msg["Error"], response.msg);
		}
	});
}

function wlFileRemove(filename, link) {
	$.ajax({
		type : "POST",
		url : "/rest/file/remove",
		data : "fileName=" + encodeURIComponent(filename) + "&path=" + encodeURIComponent($("#wlCurrentPath").html()),
		dataType : "json",
		success : function(response) {
			if (response.result == "OK") {
				$(link).parent().parent().remove();
			} else
				wlError(msg["Error"], response.msg);
		}
	});
}

function wlFolderAppend(path, folder) {
	var params = "\"" + path + "/" + folder + "\"";
	var id = uuid();
	$("#wlFoldersPanel").append("<tr id='" + id + "'><td><img src='resources/res.Resources/images/folder.png'></td>" 
			+ "<td><a class='wrSmallLink' onclick='wlFilesCd(" + params + ")'>" + folder + "</a></td>" 
			+ "<td><a class='wrSmallLink wlFbBtn' onclick='wlFolderRemove(" + params + ", this)'><i class=\"icon-remove icon-black\"></i></a></td>" 
			+ "<td><a class='wrSmallLink wlFbBtn' onclick='wlCreateRenameDialog(\"" + folder + "\", true)'><i class=\"icon-edit icon-black\"></i></a></td></tr>"
// 			+ "<td><a class='wrSmallLink' ><img onclick='wlCreateRenameDialog(\"" + folder + "\", false)' src='resources/res.Resources/images/edit.png'></a></td></tr>"
			);
	
	$('#wlFoldersPanel #' + id + ' .wlFbBtn').hover(function() {
	    $(this).parent().parent().toggleClass('wlFileHover');//css('background-color', '#f00');
	});
}

function wlReloadFolders() {
	var path = $("#wlCurrentPath").html();
	$.ajax({
		type : "POST",
		url : "/rest/folders/get",
		data : "path=" + encodeURIComponent(path),
		dataType : "json",
		success : function(response) {
			$("#wlFoldersPanel").empty();
			$(response).each(function(i, folder){
				wlFolderAppend(path, folder)
			});
		}
	});
}

function wlFileAppend(path, filename) {
	var id = uuid();
	$("#wlFilesPanel").append("<tr id='" + id + "'><td><img src='resources/res.Resources/images/AddFileGeneral.png'></td>" 
			+ "<td><a class='wrSmallLink' target='_blank' href='/file?filePath=" + encodeURIComponent(path) + "&fileName=" + encodeURIComponent(filename) + "' >" + filename + "</a></td>" 
			+ "<td><a class='wrSmallLink wlFbBtn' onclick='wlFileRemove(\"" + filename + "\", this)'><i class=\"icon-remove icon-black\"></i></a></td>"
			+ "<td><a class='wrSmallLink wlFbBtn' onclick='wlCreateRenameDialog(\"" + filename + "\", true)'><i class=\"icon-edit icon-black\"></i></a></td></tr>"
// 			+ "<td><a><img onclick='wlCreateRenameDialog(\"" + filename + "\", true)' src='resources/res.Resources/images/edit.png'></a></td></tr>"
			);
	$('#wlFilesPanel #' + id + ' .wlFbBtn').hover(function() {
	    $(this).parent().parent().toggleClass('wlFileHover');//css('background-color', '#f00');
	});
}

function wlReloadFiles() {
	var path = $("#wlCurrentPath").html();
	$.ajax({
		type : "POST",
		url : "/rest/files/get",
		data : "path=" + encodeURIComponent(path),
		dataType : "json",
		success : function(response) {
			$("#wlFilesPanel").empty();
			$(response).each(function(i, file){
				wlFileAppend(path, file);
			});
		}
	});
}

function wlFilesCd(newPath) {
	wlReloadCurrentPath(newPath);
	wlReloadFolders();
	wlReloadFiles();
}

function wlCreateUploader() {
	var uploader = new qq.FileUploader({
	element: document.getElementById('file-uploader'),
	action: '/upload',
	onSubmit: function(id, fileName) {
		var path = $("#wlCurrentPath").html();
		uploader.setParams({
			filePath: path 
		});
	},
	onComplete: function(id, fileName, responseJSON){
		if (responseJSON.success == true)
			wlFileAppend($("#wlCurrentPath").html(), fileName);
		else if (responseJSON.success == false && responseJSON.msg == "exists")
			wlError("Error", "File " + fileName + " already exists!");
		}
	});
}

function wlCreateRenameDialog(oldname, isFile) {
	$("#wlNewName").val(oldname);
	$("#wlRenameFileForm").dialog({
		autoOpen: true,
		height: 230,
		width: 500,
		modal: true,
		resizable: false,
		buttons: [
		          {
		              text: "Rename",
		              class: 'btn btn-primary',
		              click: function() {
		            	  var newnameVal = $("#wlNewName").val();
			  				$.ajax({
			  					type : "POST",
			  					url : "/rest/" + (isFile == true ? "file" : "folders") +"/rename",
			  					data : "newName=" + encodeURIComponent(newnameVal) + "&path=" + encodeURIComponent($("#wlCurrentPath").html()) + "&fileName=" + encodeURIComponent(oldname),
			  					dataType : "json",
			  					success : function(response) {
			  						if (response.result == "OK") {
			  							$(this).parent().html(newnameVal);
			  						} else {
			  							wlError(msg["Error"], response.msg);
			  						}
			  					}
			  				});
			  				$( this ).dialog( "close" );
		              }
		          },
		          {
		              text: "Cancel",
		              class: 'btn',
		              click: function() {
		            	  $( this ).dialog( "close" );
		              }
		          }
		],
		close: function() {
// 			allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});
}

$(document).ready(function(){
// 	$("#wlItemList").empty();
// 	$("#wlItemList").append($("#wlNewDir").attr("class", "wlPanel"));
// 	$("#wlItemList").append($("#wlUploadPanel").attr("class", "wlPanel"));
	wlFilesCd("/");
	wlCreateUploader();
// 	wlCreateRenameDialog();
})

</script>


<div class="row show-grid">
    <div class="span3" id="wlLeft">
    	<!-- NEW DIRECTORY -->
		<div id="wlNewDir" class="wrPanel">
			<div class="wrPanelHeader">
				<h2>New folder</h2>
			</div>
			<input type="text" id="wlNewFolder"/>
<!-- 			<a class="wrSmallLink" onclick="wlFolderCreate();">Create folder</a> -->
			<button class="btn btn-primary" type="submit" onclick="wlFolderCreate();">Create folder</button>
		</div>
		
		<!-- UPLOAD FILES -->
		<div id="wlUploadPanel" class="wrPanel">
			<div class="wrPanelHeader">
				<h2>Upload files</h2>
			</div>
			<div id="file-uploader">
				<noscript>			
					<p>Please enable JavaScript to use file uploader.</p>
					<!-- or put a simple form for upload here -->
				</noscript>         
			</div>
		</div>
    </div>
    
    <div class="span6" id="wlContent">
<!--     	<h2>File browser</h2> -->
    	
		<!-- CURRENT PATH -->
		<div id="wlCurrentPath" style="display: none;">/</div>
		<div class="wlCurrentPath">
<!-- 			<i class="icon-folder-open icon-black"></i>  -->
			<a href="#" class="wrSmallLink" onclick="wlFilesCd('/')">/</a><div id="wlPathParts"></div>
		</div>
		
		<!-- RENAME PANEL -->
		<div id="wlRenameFileForm" title="Rename file" style="display: none;">
			
				<label for="name">New name</label>
				<input type="text" name="wlNewName" id="wlNewName" class="wlFilesRename ui-widget-content ui-corner-all" />
		<!-- 		<input type="hidden" id="oldname" /> -->
		<!-- 		<input type="hidden" id="uuid2" /> -->
			
		</div>
		
		<!-- FOLDERS -->
		<table id="wlFoldersPanel" class="wlFiles"></table>
		
		<!-- FILES -->
		<table id="wlFilesPanel" class="wlFiles"></table>
    </div>
    
	<!-- RIGHT PANEL -->
    <div class="span3" id="wlRight">
    	
    </div><!-- /RIGHT PANEL -->
</div>
