<script type="text/javascript">

function wlIsFunc() {
	var param = $('#wrContent').attr("name");
// 	getParameterByName("isFunction");
	return param != undefined && param == "DefineFunctionPanel";
}

function wlMutRemove(id) {
	$("#" + id).remove();
}

function wlMutTags(name, idPrefix, idTable, value) {
	var id = uuid();
	$("<tr />").attr("id", id).appendTo($(idTable));
	var lastTr = $(idTable + " tr:last-child");
	lastTr.append( $("<td />").html(name) );
	lastTr.append( $("<td />").html($("<input />").attr("name", idPrefix + id).attr("type", "text").addClass("{required:true,minlength:1}")
			.val(value != undefined ? value : "")) );
	lastTr.append( $("<td />").html($("<a />").attr("onclick", "wlMutRemove('" + id + "');").html("&otimes;").addClass("wrSmallLink")) );
}

function wlMutHasTags(value) {
	wlMutTags("have tags", "hasTags", "#wlMutSelectList", value);
}

function wlMutHasNoTags(value) {
	wlMutTags("do not have tags", "hasNoTags", "#wlMutSelectList", value);
}

function wlMutAddTags(value) {
	wlMutTags("add tags", "addTags", "#wlMutUpdateList", value);
}

function wlMutRemoveTags(value) {
	wlMutTags("remove tags", "removeTags", "#wlMutUpdateList", value);
}

function wlFuncRemove(id) {
	$.ajax({
        type: "POST", url: "/rest/function/remove", dataType: "json",
        data : wlBuildQS("functionId", id),
        success: function(response) {
        	if (response.result == "FAIL") {
				wlError(msg["Error"], response.msg);
        	} else {
        		wlInfo(msg["OK"], response.msg);
        		$("#wlFuncList #" + id).remove();
        	}
        }
	});
}

function wlFuncEdit(id) {
	wlFuncClear();
	
	$.ajax({
        type: "POST", url: "/rest/function/get", dataType: "json",
        data : wlBuildQS("functionId", id),
        success: function(response) {
        	if (response.result == "FAIL") {
				wlError(msg["Error"], response.msg);
			} else {
				$("#functionId").val(response.functionId.id);
				$("#wlMutName").val(response.name);
				
				// selects
				if (response.selectUpdate.selects != undefined) {
					for(var i = 0; i < response.selectUpdate.selects.length; i++) {
	        			var select = response.selectUpdate.selects[i];
	        			if (select.clazz.match(/HasTags$/)) {
	        				if (select.mustHaveTags == true)
	        					wlMutHasTags(select.tagsList.join(" "));
	        				else 
	        					wlMutHasNoTags(select.tagsList.join(" "));
	        			}
					}
				}
				
				// updates
				if (response.selectUpdate.updates != undefined) {
					for(var i = 0; i < response.selectUpdate.updates.length; i++) {
	        			var update = response.selectUpdate.updates[i];
	        			if (update.clazz.match(/AddTags$/))
	        				wlMutAddTags(update.tagsList.join(" "));
	        			else if (update.clazz.match(/RemoveTags$/))
	        				wlMutRemoveTags(update.tagsList.join(" "));
					}
				}
			}
        }
    });
}

function wlFuncClear() {
	$("#functionId").val("");
	$("#wlMutName").val("");
	$("#wlMutSelectList").empty();
	$("#wlMutUpdateList").empty();
}

function wlReloadFunctionLink(func) {
	$("#link"+ func.functionId.id).html(func.name);
}

function wlReloadFunctions() {
	$.ajax({
        type: "POST", url: "/rest/function/list", dataType: "json",
        success: function(response) {
        	if (response.result == "FAIL") {
				wlError(msg["Error"], response.msg);
			} else {
        		for(var i = 0; i < response.length; i++) {
        			var func = response[i];
        			var id = func.functionId.id;
        			$("<tr />").attr("id", id).appendTo($("#wlFuncList"));
        			$("<td />").html( $("#wlFuncOptions").clone().attr("id", "options") ).appendTo($("#wlFuncList tr:last-child"));
        			$("<td />").html( $("<a/>").attr("href", "#").attr("id", "link" + id).addClass("wrSmallLink").html(func.name).attr("onclick", "wlFuncEdit('" + id + "')") ).appendTo($("#wlFuncList tr:last-child"));
        			// function options
        			$("#wlFuncList tr:last-child #remove").click(function() {
        				wlFuncRemove( $(this).closest("tr").attr("id") );
    					return false;
    				}).confirm({ msg: "Remove this function?", buttons: { cls: 'wrSmallLink' } });
        		}
			}
        }
    });
}

$(document).ready(function(){
	$('#wlMutGoGoGo').confirm({
		msg:'Are you sure?',
		buttons: { cls: 'wrSmallLink' },
		timeout:3000
	});
	
	$("#wlMutsForm").submit(function(event) {
		event.preventDefault();
		if ($("#wlMutsForm").valid() ) {
			dataString = $("#wlMutsForm").serialize();
	        $.ajax({
		        type: "POST", url: $("#wlMutsForm").attr("action"), dataType: "json",
		        data: dataString + "&functionName=" + encodeURIComponent($("#wlMutName").val()) + "&functionId=" + $("#functionId").val(),
		        success: function(response) {
		        	wlSaveStop();
					if (response.result == "FAIL") {
						wlError(msg["Error"], response.msg);
					} else {
						if (wlIsFunc()) {
							wlInfo(msg["Info"], "Function saved");
							wlReloadFunctionLink(response);
						} else {
							wlInfo(msg["Info"], "Task accepted by system");
						}
					}
		        }
	        });
		}
	});
	
	$("#wlMutsForm").validate({
		errorClass: "liveValidationERROR"
	});
	
// 	$("#wlItemList").empty();
// 	$("#wlNewFields").hide();
	
	if (wlIsFunc() == true) {
		$("#wlAlert").hide();
		$("#wlMutsForm").attr("action", "/rest/function/edit");
		$("#wrContent .panelTitle").html("Editing function");
		$("#wlMutGoGoGo").val("Save function");
		wlReloadFunctions();
	} else {
		$("#wlMutNameDiv").hide();
		$("#wlRight").hide();
		$("#wlMutsForm").attr("action", "/rest/mut/");
		$("#wrContent .panelTitle").html("Massive change of items");
		$("#wlMutGoGoGo").val("Do massive change");
	}
})

</script>


<div class="row show-grid">
    <div class="span3" id="wlRight">
    	<div class="wrPanel">
    		<button class="btn btn-primary" type="submit" onclick="wlFuncClear()" id="wlFuncNew">Create new function</button>
    	
    		<div class="wrPanelHeader">
    			<h2>List of functions</h2>
    		</div>
    		
    		<table id="wlFuncList">
    			
    		</table>
    	</div>
    </div>
    
    <div class="span9" id="wlLeft">
		<h2 class="panelTitle"></h2>
		
		<form id="wlMutsForm" class="wlForm" action="">
			<input type="hidden" id="functionId">
		
			<div id="wlMutNameDiv" class="wlMutDiv">
				<h6>Name</h6>
				<p>
					<input type="text" id="wlMutName" class="{required:true,minlength:1}"/>
				</p>
			</div>
		
			<div class="wlMutDiv">
				<h6>Choose objects which...</h6>
				<p>
					<a onclick="wlMutHasTags();" class="wrSmallLink">Have tags</a>
					<a onclick="wlMutHasNoTags();" class="wrSmallLink">Do not have tags</a>
				</p>
				<table id="wlMutSelectList" class="table">
				</table>
			</div>
			
			<div class="wlMutDiv">
				<h6>Do following operations...</h6>
				<p>
					<a onclick="wlMutAddTags();" class="wrSmallLink">Add tags</a>
					<a onclick="wlMutRemoveTags();" class="wrSmallLink">Remove tags</a>
				</p>
				<table id="wlMutUpdateList" class="table">
				</table>
			</div>
			
			<div id="wlAlert" class="alert">
				WARNING: Use this option carrefully. It cannot be reversed
			</div>
			
			<input id="wlMutGoGoGo" type="submit" value="Go Go Go!" class="btn btn-primary"/>
		</form>
    </div>

<!-- <h2 class="panelTitle">Defining new function for items</h2> -->

	<!-- 	HIDDEN COMPONENTS -->
	<div style="display: none;">
	
		<!-- 		FUNCTION MENU -->
		<ul class="nav nav-pills wlIOptions" id="wlFuncOptions">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-black"></i> <b class="caret"></b></a>
				<ul class="dropdown-menu" id="options">
					<li><a id="remove">Remove function</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
</div>


