<script type="text/javascript">


$(document).ready(function(){
// 	wlSearchRefresh();
// 	searchRefreshList();
// 	wlReminderRefresh();
	
// 	// reload templates
// 	wlTemplatesReload();
	
// 	// init tooltips
// 	$('[rel=tooltip]').tooltip();
});

</script>


    		
<div id="wrItem">
	
</div>
    		
    		
    	
    
   
    	
    	
    	<div id="wlNewFields" style="display: none;">
    		<h6>Add field</h6>
<!--    		    <div class="btn-group"> -->
<!-- 			    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add text<span class="caret"></span></a> -->
<!-- 			    <ul class="dropdown-menu"> -->
<!-- 			    	<li><a onclick="wlAddMulti();"><img src="/resources/res.Resources/images/AddLongText.png"></img>Add long text</a></li> -->
<!-- 			    	<li><a onclick="wlAddShortText();"><img src="/resources/res.Resources/images/AddShortText.png"></img>Add short text</a></li> -->
<!-- 			    </ul> -->
<!-- 		    </div> -->
    		<div id="wlNewFieldsButtons">
				<div class="wlNewFieldsBlock">
					<img src="/resources/res.Resources/images/AddLongText.png" 	onclick="wlAddMulti();"		rel="tooltip" title="Add long text"></img> 
					<img src="/resources/res.Resources/images/AddShortText.png" onclick="wlAddShortText();"	rel="tooltip" title="Add short text"></img> 
					<img src="/resources/res.Resources/images/AddNumber.png" 	onclick="wlAddNumber();"	rel="tooltip" title="Add number"></img>
					<img src="/resources/res.Resources/images/AddWww.png" 		onclick="wlAddWww();"		rel="tooltip" title="Add url"></img>
					<img src="/resources/res.Resources/images/AddEmail.png" 	onclick="wlAddEmail();"		rel="tooltip" title="Add email"></img>
				</div>
				<div class="wlNewFieldsBlock">
					<img src="/resources/res.Resources/images/AddDate.png" 		onclick="wlAddDate();"		rel="tooltip" title="Add date"></img>
					<img src="/resources/res.Resources/images/bell.png" 		onclick="wlAddReminder();"	rel="tooltip" title="Add reminder"></img>
				</div>
				<div class="wlNewFieldsBlock">
					<img src="/resources/res.Resources/images/AddCheckbox.png" 	onclick="wlAddCheck();"		rel="tooltip" title="Add checkbox"></img>
					<img src="/resources/res.Resources/images/korganizer.png" 	onclick="wlTodoAdd();"		rel="tooltip" title="Add todo list"></img>
					<img src="/resources/res.Resources/images/AddStars.png" 	onclick="wlAddStars();"		rel="tooltip" title="Add rating panel"></img>
				</div>
<!-- 				<div class="wlNewFieldsBlock"> -->
<!-- 					<img src="/resources/res.Resources/images/templates.png" 	onclick="wlTemplatesToggle();"></img> -->
<!-- 				</div> -->
    		</div>
		
			<h6>Add template</h6>
			<div id="wlTemplatesBlock">
				<div id="wlTemplates">.</div>
				<img src="/resources/res.Resources/images/reload.png" href="#" rel="tooltip" title="Reload templates list" onclick="wlTemplatesReload(true);"></img><br/><br/>
			</div>
			
		</div>
<!-- 					<div class="wlNewFieldsBlock"> -->
<!-- 							<img src="/resources/res.Resources/images/AddFileGeneral.png" onclick="wlAddFile();"></img>  -->
<!-- 					</div> -->
        
	<!-- RIGHT PANEL -->
<!--     <div class="span3" id="wlRight"> -->
    
		<!-- SAVED SEARCHES PANEL -->
<!--     	<div class="wrPanel"> -->
<!--     		<div class="wrPanelHeader"> -->
<!--     			<h2>Saved searches</h2> -->
<!-- 	    		<div class="btn-group pull-right"> -->
<!-- 				    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-black"></i> <span class="caret"></span></a> -->
<!-- 				    <ul class="dropdown-menu"> -->
<!-- 						<li><a onclick="wlSearchRefresh();">Refresh saved searches</a></li> -->
<!-- 			    	</ul> -->
<!-- 			    </div> -->
<!--     		</div> -->
<!--     		<div class="wlSidebarPanel"> -->
<!-- 	    		<table id="wlSavedSearches"> -->
<!-- 	    		</table> -->
<!--     		</div> -->
<!--     	</div> -->
    	
<!--     	REMINDERS PANEL -->
<!--     	<div class="wrPanel"> -->
<!--     		<div class="wrPanelHeader"> -->
<!--     			<h2>Reminders</h2> -->
<!-- 	    		<div class="btn-group pull-right"> -->
<!-- 				    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-black"></i> <span class="caret"></span></a> -->
<!-- 				    <ul class="dropdown-menu"> -->
<!-- 						<li><a onclick="wlReminderRefresh();">Refresh reminders</a></li> -->
<!-- 			    	</ul> -->
<!-- 			    </div> -->
<!--     		</div> -->
<!--     		<div class="wlSidebarPanel"> -->
<!-- 	    		<table id="wlReminders"> -->
<!-- 	    		</table> -->
<!--     		</div> -->
<!--     	</div> -->
    	
    	
		
		<!-- IN THE SHADOW... -->
<!-- 		<div style="display: none;"> -->
			
<!-- 		</div> -->
		
    	
<!--     </div> -->
    <!-- /RIGHT PANEL -->
